* {
  margin: 0;
  padding: 0;
}

h1,h2,h3 {
  font-family: 'Times New Roman', Times, serif;
  color: #123C69;
}

p {
  font-family: 'Courier New', Courier, monospace;
  color: #0B0C10;
}

#conteiner {
	width: 800px;
	margin: 0;
}

#seccion1 {
	float: left;
    background-color: #45A29E;
    width: 45%;
	min-height: 1000px;
    text-align: center;
    padding-top: 30px;
}

#seccion2 {
    background-color: #D1E8E2;
    width: calc(55% - 20px);
	min-height: 1000px;
	padding-left: 20px;
    padding-top: 30px;
	float:left;
}
